@import "../../styles/themes.scss";

// TODO: get colors from theme
$theme-color: #61dafb;
$bg-color-widget: $theme-color;

.card-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: space-evenly;
}

.btn-group {
  flex: auto;
  
  display: flex;
  justify-content: center;
  margin: 0 3vmin 0 3vmin;
  
  button {
    flex: auto;
    flex-grow: 0.1;
    
    margin: 0.75vmin;
    min-height: 15vmin;
    max-height: 15vmin;
    min-width: 15vmin;
    max-width: 15vmin;

    border: none;
    border-radius: 10px;

    background-color: $bg-color-widget;
    text-decoration: none;
    text-align: center;
    font-size: 5.5vmin;
    font-weight: bold;
    color: #303030;
    font-family: monospace;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}